[user]
	name = xarisd
	email = xaris.dimitriou@gmail.com
[core]
	editor = vim
[color]
	ui = true
[alias]
	lol = log --oneline --graph --decorate
	ctags = !.git/hooks/ctags
[push]
	default = simple

[init]
	templatedir = ~/.git_template
